uvloop==0.21.0
setproctitle==1.3.6
configparser==3.5.0
colorlog==6.9.0
git+https://github.com/bitaps-com/aiojsonrpc























































































































































































































































